[package]
name = "riot-rs"
version.workspace = true
authors.workspace = true
edition.workspace = true

[lints]
workspace = true

[dependencies]
linkme = { workspace = true }
riot-rs-boards = { path = "../riot-rs-boards" }
riot-rs-buildinfo = { path = "../riot-rs-buildinfo" }
riot-rs-embassy = { path = "../riot-rs-embassy" }
riot-rs-macros = { path = "../riot-rs-macros" }
riot-rs-rt = { path = "../riot-rs-rt" }
riot-rs-threads = { path = "../riot-rs-threads", optional = true }
static_cell = { workspace = true }

[features]
default = ["riot-rs-rt/_panic-handler"]

debug-console = ["riot-rs-rt/debug-console"]
net = ["riot-rs-embassy/net"]
# Allows to have no boards selected, useful to run platform-independent tooling
no-boards = ["riot-rs-boards/no-boards"]
override-network-config = ["riot-rs-embassy/override-network-config"]
override-usb-config = ["riot-rs-embassy/override-usb-config"]
silent-panic = ["riot-rs-rt/silent-panic"]
threading = [
  "dep:riot-rs-threads",
  "riot-rs-rt/threading",
  "riot-rs-embassy/threading",
]
time = ["riot-rs-embassy/time"]
usb = ["riot-rs-embassy/usb"]
usb-ethernet = ["riot-rs-embassy/usb-ethernet"]
wifi-cyw43 = ["riot-rs-embassy/wifi-cyw43"]
