[package]
name = "riot-rs"
version.workspace = true
authors.workspace = true
edition.workspace = true

[dependencies]
riot-build = { path = "../riot-build", features = [ "riot-rs-core"], optional = true }
riot-rs-rt = { path = "../riot-rs-rt" }
riot-rs-core = { path = "../riot-rs-core" }
riot-rs-boards = { path = "../riot-rs-boards" }
riot-rs-buildinfo = { path = "../riot-rs-buildinfo" }
riot-rs-embassy = { path = "../riot-rs-embassy" }

[features]
newlib = [ "riot-build", "riot-build/newlib" ]
debug-console = [ "riot-rs-rt/debug-console" ]
silent-panic = [ "riot-rs-rt/silent-panic" ]
thread_info = [ "riot-rs-core/thread_info" ]
time = [ "riot-rs-embassy/time" ]
