[package]
name = "riot-rs-macros"
version.workspace = true
authors.workspace = true
license.workspace = true
edition.workspace = true
repository.workspace = true
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lints]
workspace = true

[dependencies]
enum-iterator = "1.5.0"
proc-macro-crate = "3.1.0"
proc-macro2 = "1.0.78"
quote = "1.0.35"
syn = { version = "2.0.47", features = ["full"] }

[dev-dependencies]
embassy-executor = { workspace = true, features = [
  "nightly",
] } # FIXME: embassy_executor::task requires embassy_executor to be imported at crate-level
heapless = { workspace = true }
riot-rs = { workspace = true, features = [
  "threading",
  "no-boards",
  "usb-ethernet",
  "override-network-config",
] }
trybuild = "1.0.89"

[lib]
proc-macro = true
