[graph]
# If true, metadata will be collected with `--all-features`. Note that this can't
# be toggled off if true, if you want to conditionally enable `--all-features` it
# is recommended to pass `--all-features` on the cmd line instead
all-features = true

# This section is considered when running `cargo deny check licenses`
# More documentation for the licenses section can be found here:
# https://embarkstudios.github.io/cargo-deny/checks/licenses/cfg.html
[licenses]
# Check dev-dependencies as well
include-dev = true
# List of explicitly allowed licenses
# See https://spdx.org/licenses/ for list of possible licenses
# [possible values: any SPDX 3.11 short identifier (+ optional exception)].
allow = [
  "0BSD",
  "Apache-2.0",
  "BSD-3-Clause",
  "ISC",
  "MIT",
  "MPL-2.0",
  "Zlib",
  # We may allow other licenses as necessary.
]
# Allow 1 or more licenses on a per-crate basis, so that particular licenses
# aren't accepted for every possible crate as with the normal allow list
exceptions = [
  # Each entry is the crate and version constraint, and its specific allow
  # list
  { allow = ["BSL-1.0"], crate = "lhash" },
  # OSI-approved: https://opensource.org/license/blue-oak-model-license
  { allow = ["BlueOak-1.0.0"], crate = "minicbor" },
  { allow = ["CC0-1.0"], crate = "tiny-keccak" },
  { allow = ["Unicode-DFS-2016"], crate = "unicode-ident" },
]

# This section is considered when running `cargo deny check sources`.
# More documentation about the 'sources' section can be found here:
# https://embarkstudios.github.io/cargo-deny/checks/sources/cfg.html
[sources]
# Lint level for what to happen when a crate from a crate registry that is not
# in the allow list is encountered
unknown-registry = "deny"
# Lint level for what to happen when a crate from a git repository that is not
# in the allow list is encountered
unknown-git = "deny"
# List of URLs for allowed Git repositories
allow-git = [
  "https://github.com/hacspec/hax",
  "https://github.com/smoltcp-rs/smoltcp",
  "https://github.com/twitchyliquid64/usbd-hid",
  "https://gitlab.com/oscore/liboscore",
  "https://github.com/seanmonstar/try-lock",
]

[sources.allow-org]
# github.com organizations to allow git sources for
github = ["embassy-rs", "esp-rs", "kaspar030"]
