[package]
name = "riot-rs-embassy"
version = "0.1.0"
edition = "2021"

[lints]
workspace = true

[dependencies]
critical-section.workspace = true
linkme.workspace = true
static_cell.workspace = true
cfg-if.workspace = true
portable-atomic.workspace = true

embassy-executor = { workspace = true, features = ["nightly"] }

embassy-hal-internal = { workspace = true }
embassy-net = { workspace = true, optional = true, features = [
  "dhcpv4",
  "medium-ethernet",
] }
embassy-net-driver-channel = { workspace = true, optional = true }
embassy-sync = { workspace = true }
embassy-time = { workspace = true, optional = true }
embassy-usb = { workspace = true, optional = true }

embedded-hal = { workspace = true }
embedded-hal-async = { workspace = true }

riot-rs-threads = { path = "../riot-rs-threads", optional = true }
riot-rs-debug = { workspace = true }
riot-rs-macros = { path = "../riot-rs-macros" }
riot-rs-rt = { path = "../riot-rs-rt" }
riot-rs-random = { path = "../riot-rs-random", optional = true }
riot-rs-utils = { workspace = true }

heapless = "0.8.0"
once_cell = { version = "1.19.0", default-features = false, features = [
  "critical-section",
] }

# rpi-pico-w cyw43
cyw43 = { version = "0.1.0", features = ["firmware-logs"], optional = true }
cyw43-pio = { version = "0.1.0", features = ["overclock"], optional = true }

# listed here for conditional feature selection
embassy-nrf = { workspace = true, default-features = false, optional = true }
embassy-rp = { workspace = true, default-features = false, optional = true }
embassy-stm32 = { workspace = true, default-features = false, optional = true }
esp-hal = { workspace = true, default-features = false, optional = true }
esp-hal-embassy = { workspace = true, default-features = false, optional = true }
esp-wifi = { workspace = true, optional = true }

[target.'cfg(context = "cortex-m")'.dependencies]
embassy-executor = { workspace = true, default-features = false, features = [
  "arch-cortex-m",
] }

[target.'cfg(context = "nrf")'.dependencies]
embassy-nrf = { workspace = true, features = [
  "gpiote",
  "time-driver-rtc1",
  "time",
  "unstable-pac",
  "rt",
] }

[target.'cfg(context = "nrf52832")'.dependencies]
embassy-nrf = { workspace = true, features = ["nrf52832"] }

[target.'cfg(context = "nrf52840")'.dependencies]
embassy-nrf = { workspace = true, features = ["nrf52840"] }

[target.'cfg(context = "nrf5340")'.dependencies]
embassy-nrf = { workspace = true, features = ["nrf5340-app-s"] }

[target.'cfg(context = "rp2040")'.dependencies]
embassy-rp = { workspace = true, features = [
  "rt",
  "time-driver",
  "unstable-pac",
  #  "unstable-traits",
] }

[target.'cfg(context = "esp")'.dependencies]
esp-hal = { workspace = true, features = ["async", "embedded-hal"] }
esp-hal-embassy = { workspace = true, default-features = false, features = [
  "time-timg0",
] }
esp-wifi = { workspace = true, default-features = false, features = [
  "async",
  "embassy-net",
  "wifi",
], optional = true }

[target.'cfg(context = "esp32c3")'.dependencies]
esp-hal = { workspace = true, features = ["esp32c3"] }
esp-hal-embassy = { workspace = true, default-features = false, features = [
  "esp32c3",
] }
esp-wifi = { workspace = true, default-features = false, features = [
  "esp32c3",
], optional = true }

[target.'cfg(context = "esp32c6")'.dependencies]
esp-hal = { workspace = true, features = ["esp32c6"] }
esp-hal-embassy = { workspace = true, default-features = false, features = [
  "esp32c6",
] }
esp-wifi = { workspace = true, default-features = false, features = [
  "esp32c6",
], optional = true }

[target.'cfg(context = "stm32")'.dependencies]
embassy-stm32 = { workspace = true, features = [
  "rt",
  "time-driver-any",
  "unstable-pac",
] }

[features]
time = ["dep:embassy-time", "embassy-executor/integrated-timers"]
usb = ["dep:embassy-usb"]
# embassy-net requires embassy-time and support for timeouts in the executor
net = ["dep:embassy-net", "time"]
usb-ethernet = ["usb", "net"]
## Use a hardware RNG to seed into the riot-rs-random system-wide RNG
hwrng = ["dep:riot-rs-random"]

wifi = []
wifi-cyw43 = [
  "dep:cyw43",
  "dep:cyw43-pio",
  "dep:embassy-net-driver-channel",
  "net",
  "wifi",
]
wifi-esp = ["dep:esp-wifi", "dep:embassy-net-driver-channel", "net", "wifi"]

threading = ["dep:riot-rs-threads"]
override-network-config = []
override-usb-config = []

executor-single-thread = [
  "riot-rs-rt/executor-single-thread",
  "esp-hal-embassy?/executors",
]
executor-interrupt = ["embassy-executor/executor-interrupt"]
executor-thread = ["threading"]
executor-none = []

defmt = [
  "embassy-net?/defmt",
  "embassy-nrf?/defmt",
  "embassy-rp?/defmt",
  "embassy-stm32?/defmt",
  "embassy-time?/defmt",
  "embassy-usb?/defmt",
  "esp-wifi?/defmt",
]

# These are chosen automatically by riot-rs-boards and select the correct stm32
# usb peripheral support.
stm32-usb = []
stm32-usb-synopsis = []
