[package]
name = "riot-rs-embassy"
version = "0.1.0"
license.workspace = true
edition = "2021"

[lints]
workspace = true

[dependencies]
const_panic.workspace = true
critical-section.workspace = true
linkme.workspace = true
static_cell.workspace = true
cfg-if.workspace = true

embassy-embedded-hal = { workspace = true, optional = true }
embassy-executor = { workspace = true, features = ["nightly"] }
embassy-hal-internal = { workspace = true }
embassy-net = { workspace = true, optional = true, features = [
  "dhcpv4",
  "medium-ethernet",
] }
embassy-sync = { workspace = true }
embassy-time = { workspace = true, optional = true }
embassy-usb = { workspace = true, optional = true }

embedded-hal = { workspace = true }
embedded-hal-async = { workspace = true }

riot-rs-arch = { path = "../riot-rs-arch" }
riot-rs-embassy-common = { workspace = true }
riot-rs-threads = { path = "../riot-rs-threads", optional = true }
riot-rs-debug = { workspace = true }
riot-rs-macros = { path = "../riot-rs-macros" }
riot-rs-rt = { path = "../riot-rs-rt" }
riot-rs-random = { path = "../riot-rs-random", optional = true }
riot-rs-storage = { workspace = true, optional = true }
riot-rs-utils = { workspace = true }

heapless = "0.8.0"
once_cell = { workspace = true }
usbd-hid = { version = "0.8.2", optional = true }

# ISA-specific
[target.'cfg(context = "cortex-m")'.dependencies]
embassy-executor = { workspace = true, default-features = false, features = [
  "arch-cortex-m",
] }

[features]
## Enables GPIO interrupt support.
external-interrupts = [
  "riot-rs-embassy-common/external-interrupts",
  "riot-rs-arch/external-interrupts",
]
time = ["dep:embassy-time", "embassy-executor/integrated-timers"]

## Enables I2C support.
i2c = [
  "dep:embassy-embedded-hal",
  "riot-rs-embassy-common/i2c",
  "riot-rs-arch/i2c",
]
## Enables SPI support.
spi = [
  "dep:embassy-embedded-hal",
  "riot-rs-embassy-common/spi",
  "riot-rs-arch/spi",
]
usb = ["dep:embassy-usb", "riot-rs-arch/usb"]
usb-hid = ["dep:usbd-hid", "embassy-usb?/usbd-hid", "usb"]
# embassy-net requires embassy-time and support for timeouts in the executor
net = ["dep:embassy-net", "time"]
usb-ethernet = ["usb", "net"]
## Use a hardware RNG to seed into the riot-rs-random system-wide RNG
hwrng = ["riot-rs-arch/hwrng"]

## Enables support for TCP.
tcp = ["embassy-net?/tcp"]
## Enables support for UDP.
udp = ["embassy-net?/udp"]

## Enable storage support [`riot-rs::storage`].
storage = ["dep:riot-rs-storage", "riot-rs-arch/storage", "time"]

wifi = []
wifi-cyw43 = ["riot-rs-arch/wifi-cyw43", "net", "wifi"]
wifi-esp = ["riot-rs-arch/wifi-esp", "net", "wifi"]

threading = ["dep:riot-rs-threads"]
override-network-config = []
override-usb-config = []

executor-single-thread = [
  "riot-rs-rt/executor-single-thread",
  "riot-rs-arch/executor-single-thread",
]
executor-interrupt = ["riot-rs-arch/executor-interrupt"]
executor-thread = ["threading"]
executor-none = []

defmt = [
  "embassy-net?/defmt",
  "embassy-time?/defmt",
  "embassy-usb?/defmt",
  "riot-rs-arch/defmt",
  "riot-rs-embassy-common/defmt",
  "usbd-hid?/defmt",
]
