[package]
name = "riot-rs-boards"
version.workspace = true
authors.workspace = true
edition.workspace = true

[lints]
workspace = true

[dependencies]
cfg-if.workspace = true
linkme.workspace = true

riot-rs-rt = { path = "../riot-rs-rt" }

ai-c3 = { optional = true, path = "ai-c3" }
expressif-esp32-c6-devkitc-1 = { optional = true, path = "expressif-esp32-c6-devkitc-1" }
dwm1001 = { optional = true, path = "dwm1001" }
microbit = { optional = true, path = "microbit" }
microbit-v2 = { optional = true, path = "microbit-v2" }
nrf52840-mdk = { optional = true, path = "nrf52840-mdk" }
nrf52840dk = { optional = true, path = "nrf52840dk" }
nrf52dk = { optional = true, path = "nrf52dk" }
nrf5340dk = { optional = true, path = "nrf5340dk" }
nucleo-f401re = { optional = true, path = "nucleo-f401re" }
rpi-pico = { optional = true, path = "rpi-pico" }

[features]
# Allows to have no boards selected, useful to run platform-independent tooling
no-boards = []
rpi-pico-w = ["rpi-pico/rpi-pico-w"]
