[package]
name = "riot-rs-boards"
version.workspace = true
authors.workspace = true
edition.workspace = true

[dependencies]
cfg-if.workspace = true

lm3s6965evb = { optional=true, path="lm3s6965evb" }
nrf52dk = { optional=true, path="nrf52dk" }
nrf52840dk = { optional=true, path="nrf52840dk" }
nrf52840-mdk = { optional=true, path="nrf52840-mdk" }
nucleo-f401re = { optional=true, path="nucleo-f401re" }
microbit = { optional=true, path="microbit" }
dwm1001 = { optional=true, path="dwm1001" }
rpi-pico = { optional=true, path="rpi-pico" }
