[package]
name = "riot-rs-threads"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"
description = "generic embedded scheduler & IPC"
include = ["src/**/*", "LICENSE", "README.md"]
repository.workspace = true

[lints]
workspace = true

[dependencies]
cfg-if.workspace = true
critical-section.workspace = true
linkme = { workspace = true }
paste.workspace = true
riot-rs-runqueue.workspace = true
static_cell.workspace = true

defmt = { workspace = true, optional = true }

[target.'cfg(context = "esp32c3")'.dependencies]
esp-hal = { workspace = true, features = ["esp32c3"] }

[target.'cfg(context = "esp32c6")'.dependencies]
esp-hal = { workspace = true, features = ["esp32c6"] }

[target.'cfg(context = "cortex-m")'.dependencies]
# cortex-m specifics
cortex-m.workspace = true
cortex-m-rt.workspace = true
cortex-m-semihosting.workspace = true
panic-semihosting = { version = "0.6.0", features = ["exit"] }

[features]
defmt = ["dep:defmt", "riot-rs-runqueue/defmt"]
